<div class="flex flex-col w-full text-gray-200">
  <div class="flex items-center px-10 <%= @inventories.size > 0 ? "justify-end" : "justify-between" %> my-4">
    <% if @inventories.size < 1 %>
      <p class="font-bold text-xl text-yellow-300">No inventory items added yet!</p>
    <%end%>
    <%= button_to "Add Inventory", new_inventory_path, method: :get, data: {turbo: true, turbo_frame: :modal},
    class:"bg-blue-500 p-2 rounded-md cursor-pointer" %>
  </div>
  <div class="flex flex-col justify-center items-center">
    <% @inventories.each do |inventory|%>
      <div class="flex flex-col md:flex-row text-xs sm:text-base overflow-x-hidden gap-10 border border-gray-400 w-[80%] shadow-md m-4 p-5 px-10 rounded-md">
        <div class="flex flex-col items-center justify-center gap-5">
          <p class="font-semibold text-sm md:text-xl text-blue-300 underline">
            <%=link_to inventory.name, inventory_path(inventory) %>
          </p>
          <%=button_to "REMOVE", inventory_path(inventory), method: :delete, class:"text-blue-400 uppercase cursor-pointer"%>
        </div>
        <div class="">
          <p>
            <%= inventory.description%>
          <p>
        </div>
      </div>
    <%end%>
  </div>
</div>