<div class="flex flex-col items-center mt-10 text-gray-200 w-full">
  <p class="font-semibold text-xl">
    <%=@recipe.name%>
  </p>
  <div class="flex justify-between w-[80%] mx-auto mb-5 mt-10">
    <div class="flex flex-col gap-4">
      <p>Preparation duration: <%= @recipe.preparation_duration%> (HH:MM)</p>
      <p>Cooking duration: <%=@recipe.cooking_duration%> (HH:MM)</p>
      <p>Steps go here...</p>
    </div>
    <div class="">
      <p>Public</p>
    </div>
  </div>
  <div class="flex justify-between items-center w-[80%]">
    <div>
      <%= link_to "Generate shopping list", data:{turbo: true, turbo_frame: :modal}, class:"cursor-pointer bg-blue-500 rounded-md p-1 hover:bg-blue-400" %>
    </div>
    <div>
      <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class:"cursor-pointer bg-blue-500 rounded-md p-1 hover:bg-blue-400" %>
    </div>
  </div>
  <div class="border-b-2 border-gray-950 my-2 w-full md:w-[80%]"></div>
  <table class="bg-gray-600 rounded-md w-full md:w-[80%]">
    <thead>
      <tr class="text-left uppercase border-b border-blue-500">
        <th class="px-4 py-3">Food</th>
        <th class="px-4 py-3">Quantity</th>
        <th class="px-4 py-3">Value</th>
        <th class="px-4 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td class="px-4 py-3"><%=recipe_food.food.name %></td>
          <td class="px-4 py-3"><%=recipe_food.quantity %></td>
          <td class="px-4 py-3"><%=recipe_food.quantity*recipe_food.food.price%></td>
          <td class="flex gap-5 capitalize px-4 py-3">
            <%=link_to "Modify", edit_recipe_recipe_food_path(@recipe), class:"text-blue-400 underline cursor-pointer"%>
            <%= button_to "Remove", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class:"text-blue-400 underline cursor-pointer"%>
          </td>
    
        <tr>
      <% end %>
    </tbody>
  </table>
</div>