<%= turbo_frame_tag :modal do %>
  <div class="fixed inset-0 bg-black/80"></div>
  <div class="fixed inset-0 bg-transparent flex items-center justify-center">
    <div class="relative flex items-center justify-center w-96 z-50 bg-gray-400 p-4 rounded-md">
      <%= form_with model: Food.new, data: {turbo: false} do |f|%>
        <div class="mb-4">
          <%= f.label :name, class:"block mb-2 text-gray-950" %>
          <%= f.text_field :name,
            autofocus: false,
            autocomplete: "name",
            class: "w-full px-3 py-2 border text-gray-100 rounded-lg bg-gray-600 outline-none"
          %>
        </div>
        <div class="mb-4">
          <%= f.label :measurement_unit, class:"block mb-2 text-gray-950" %>
          <%= f.text_field :measurement_unit,
            autofocus: true,
            autocomplete: "measurement_unit",
            class: "w-full px-3 py-2 border text-gray-100 rounded-lg bg-gray-600 outline-none"
          %>
        </div>
        <div class="mb-4">
          <%= f.label :price, class:"block mb-2 text-gray-950" %>
          <%= f.number_field :price,
            autofocus: true,
            autocomplete: "price",
            class: "w-full px-3 py-2 border text-gray-100 rounded-lg bg-gray-600 outline-none"
          %>
        </div>
        <div class="flex items-center justify-center mb-2 my-2">
          <%= f.submit "Create",
            class:"bg-orange-500 hover:bg-orange-600 text-gray-200 font-semibold lg:text-xl p-2 rounded-md cursor-pointer w-[70%]",
            data: {turbo_frame: "_top"}
            %>
        </div>
        <div class="absolute top-2 right-2">
          <%=link_to foods_path do %>
            <%= inline_svg_tag("close.svg", class:"text-gray-800 size-8")%>
          <%end%>
        </div>
      <%end%>
    </div>
  <div>
<%end%>